[Unit]
Description=Projeto de exemplo para 15º Go talks de BH.
After=network.target
Requires=talktask.socket

[Service]
Environment=GOTALK_ACD_POOL_SIZE=4
Environment=GOTALK_ACD_QUEUEL_SIZE=4
Environment=GOTALK_USE_SYSTEMD_SOCKET=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=talktask
Type=simple
WorkingDirectory=/root/talktask
ExecStart=/root/talktask/talktask
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
